# Azure Storage Account Credentials
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER_NAME=

# Optional Configuration
LOG_LEVEL=INFO
INDEX_TITLE=File Repository